body {
  font-family: "Sarabun", sans-serif;
  text-align: left;
  margin-top: 30px;
  background-color: #f4f4f4;
}

.main-container {
  display: flex;
  border-radius: 10px;

  background-color: rgb(231, 231, 231);
}

.card-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;

  margin: 2vw;
}

.topic-1 {
  margin-left: 16px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.card h2 {
  margin: 0 0 10px;
  font-size: 20px;
  color: #555;
}

.status-text {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.active {
  color: #28a745;
}

.inactive {
  color: #dc3545;
}

.neutral {
  color: #6c757d;
}

button {
  margin-top: 30px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

#shadow-data-output {
  margin-top: 30px;
  font-size: 12px;
  color: gray;
}
