body {
  font-family: "Sarabun", sans-serif;
  text-align: left;
  margin-top: 30px;
  background-color: #f4f4f4;
}

.main-container {
  display: flex;
  border-radius: 10px;

  background-color: rgb(231, 231, 231);
}

.card-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;

  margin: 2vw;
}


.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.card h2 {
  margin: 0 0 10px;
  font-size: 20px;
  color: #555;
}

.status-text {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.active {
  color: #28a745;
}

.inactive {
  color: #dc3545;
}

.neutral {
  color: #6c757d;
}

button {
  margin-top: 30px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

#shadow-data-output {
  margin-top: 30px;
  font-size: 12px;
  color: gray;
}

/* ON/OFF */

.topic-1-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
    padding: 0 25px;
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle-container h2 {
  font-size: 16px;
  color: #444;
  margin: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#monitor-status-text {
  font-size: 18px;
  font-weight: bold;
  color: #cc0000;
  width: 35px;
  text-align: right;
}

.status-on {
  color: #4caf50 !important;
}
