#terminal {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 0;
  height: 60vh;

  margin: 4vw;
  padding: 16px;
  border-radius: 5px;

  font-weight: 500;

  overflow: auto;
  color: black;
  background-color: rgb(235, 235, 235);
  box-shadow: 0 0 10px rgb(222, 222, 222);
}

.log {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  padding: 4px;
  /* background-color: blue; */
}

.distance-1 {
  color: red;
}
.vibration-1 {
  color: red;
}
