@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

:root {
  font-family: "Noto Sans Thai", sans-serif;
}
body, html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  /* font-family: "Sarabun", sans-serif; */
  background-color: #f4f4f4;
}

.main-container {
  display: flex;
  border-radius: 10px;

  background-color: rgb(255, 255, 255);
}

.status-text {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.active {
  color: #28a745;
}

.inactive {
  color: #dc3545;
}

.neutral {
  color: #6c757d;
}

#shadow-data-output {
  margin-top: 30px;
  font-size: 12px;
  color: gray;
}

.topic-1-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 25px;
}



#monitor-status-text {
  font-size: 18px;
  font-weight: bold;
  color: #cc0000;
  width: 35px;
  text-align: right;
}

.status-on {
  color: #4caf50 !important;
}
